* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  background-color: #1a1a1a;
}
#nav-links ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}
#nav-links ul li {
  transition: transform 0.3s ease-in-out;
}
#nav-links ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}
#nav-links ul li a:hover {
  color: #3bbfd6;
}
#nav-links ul li:hover {
  transform: translateY(-5px);
}

#navbar {
  display: none; /* Hidden by default on larger screens */
  cursor: pointer;
}

#logo {
  width: 7rem;
  height: 7rem;
  color: white;
}
#nav-links {
  display: flex;
  align-items: center;
}
.my-nav {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 60px;
  background: #333;
  color: white;
}
#Home,
#Skills,
#Projects,
#Contacts,
#About {
  height: 100vh;
}
#Home {
  background-color: #1a1a1a;

  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
#Home #hero-intro {
  border-radius: 1rem;
  padding: 2rem;
  color: rgb(53, 53, 53);
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#Home #hero-intro h2 {
  color: white;
  font-size: 2.5rem;
  margin: -2rem;
  font-weight: normal;
}
#Home #hero-intro h1 {
  color: white;
  font-size: 3rem;
}
#Home #hero-intro #socials {
  display: flex;
  gap: 2rem;
}
#About {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#About #about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  border: #ffffff 2px solid;
  padding: 2rem;
}
#About #about-content img {
  width: 200px;
  height: 200px;
}
#About #about-content #about-img {
  border-radius: 100%;
  overflow: hidden;
  margin-bottom: 2rem;
}
#About h1 {
  text-align: center;
  color: white;
  font-size: 3rem;
  margin-bottom: 2rem;
}
#About p {
  text-align: justify;
  color: white;
  font-size: 1.5rem;
  margin: 2rem;
}
#About p span {
  color: #74d1dd;
}
#Skills {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
#Skills h1 {
  font-size: 3rem;
}
#Skills #skill-card i {
  font-size: 4rem;
}

#Skills #skill-card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 0.8rem;
  width: 17rem;
  height: 8rem;
  background-color: #414141;
  border-radius: 0.5rem;
  box-shadow: #414040 0px 0px 10px;
}
#Skills #skill-card h3,
p {
  margin: 0;
}
#Skills #skill-card p {
  color: #c1c3c4;
  font-size: 0.9rem;
}
#Skills #skills-container {
  display: flex;
  width: 70%;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#Projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: white;
}
#Projects h1 {
  font-size: 3rem;
}
#Projects #projects-container {
  display: flex;
  gap: 2rem;
  width: 80%;
  justify-content: center;
  align-items: center;
  border: #cccccc 2px solid;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: #ffffff 0px 0px 4px;
}
#Projects #projects-container #project-card {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#Projects #projects-container #project-card #project-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem;
}
#Projects #projects-container #project-card #project-link {
  color: black;
  background-color: #b197fc;
  width: 6rem;
  height: 2.5rem;
  font-size: 0.8rem;
  padding: 0.8rem;
  border-radius: 1rem;
}
#Projects #projects-container #project-card #project-features {
  margin-bottom: 1.5rem;
}
#Projects #projects-container #project-card #project-link:hover {
  background-color: #9371fa;
}
#Projects #projects-container #project-card p {
  color: #c1c3c4;
}
#Projects #projects-container img {
  width: 50%;
}
#Contacts {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  color: white;
}
#Contacts h1 {
  font-size: 3rem;
}
#Contacts #contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 60%;
  border: #ffffff 2px solid;
  padding: 2rem;
  border-radius: 1rem;
}
#Contacts #contact-form form {
  display: flex;
  flex-direction: column;
}
#Contacts #contact-form input,
button {
  width: 20vw;
  height: 5vh;
  padding: 1rem;
}
@media screen and (max-width: 1690px) {
  #Home #hero-intro {
    width: 80%;
  }
  #About #about-content {
    width: 90%;
  }
  #Skills #skills-container {
    width: 90%;
  }
  #Projects #projects-container {
    width: 90%;
  }
  #Contacts #contact-container {
    width: 90%;
  }
  #Contacts #contact-form input,
  button {
    width: 40vw;
  }
}
@media screen and (max-width: 920px) {
  #Home #hero-intro h2 {
    font-size: 2rem;
  }
  #Home #hero-intro h1 {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 786px) {
  #Home #hero-intro h2 {
    font-size: 1.5rem;
  }
  #Home #hero-intro h1 {
    font-size: 2rem;
  }
  #nav-links ul {
    display: none; /* Hide menu initially on mobile */
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 20px;
    background: #222;
    width: 40rem;
    height: 15rem;
    padding: 10px;
    border-radius: 5px;
  }

  #nav-links ul.active {
    display: flex; /* Show menu when active */
  }

  #navbar {
    display: block; /* Show burger icon on mobile */
  }
}
@media screen and (max-width: 650px) {
  #Home #hero-intro h2 {
    font-size: 0.8rem;
  }
  #Home #hero-intro h1 {
    font-size: 1rem;
  }
}
